.corelation {
    display: grid;
    grid-template-columns: 30px repeat(5, 1fr);
    grid-template-rows: 30px repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
}

.corelation .v-header {
    writing-mode: vertical-lr;
}

.corelation .grid-item {
    position: relative;
}

.corelation .population.h-header { grid-area: 1 / 2 / 2 / 3; }
.corelation .cases.h-header { grid-area: 1 / 3 / 2 / 4; }
.corelation .active.h-header { grid-area: 1 / 4 / 2 / 5; }
.corelation .recovered.h-header { grid-area: 1 / 5 / 2 / 6; }
.corelation .tests.h-header { grid-area: 1 / 6 / 2 / 7; }

.corelation .population.v-header { grid-area: 2 / 1 / 3 / 2; }
.corelation .cases.v-header { grid-area: 3 / 1 / 4 / 2; }
.corelation .active.v-header { grid-area: 4 / 1 / 5 / 2; }
.corelation .recovered.v-header { grid-area: 5 / 1 / 6 / 2; }
.corelation .tests.v-header { grid-area: 6 / 1 / 7 / 2; }

.corelation .population-population { grid-area: 2 / 2 / 3 / 3; }
.corelation .population-cases { grid-area: 2 / 3 / 3 / 4; }
.corelation .population-active { grid-area: 2 / 4 / 3 / 5; }
.corelation .population-recovered { grid-area: 2 / 5 / 3 / 6; }
.corelation .population-tests { grid-area: 2 / 6 / 3 / 7; }

.corelation .cases-population { grid-area: 3 / 2 / 4 / 3; }
.corelation .cases-cases { grid-area: 3 / 3 / 4 / 4; }
.corelation .cases-active { grid-area: 3 / 4 / 4 / 5; }
.corelation .cases-recovered { grid-area: 3 / 5 / 4 / 6; }
.corelation .cases-tests { grid-area: 3 / 6 / 4 / 7; }

.corelation .active-population { grid-area: 4 / 2 / 5 / 3; }
.corelation .active-cases { grid-area: 4 / 3 / 5 / 4; }
.corelation .active-active { grid-area: 4 / 4 / 5 / 5; }
.corelation .active-recovered { grid-area: 4 / 5 / 5 / 6; }
.corelation .active-tests { grid-area: 4 / 6 / 5 / 7; }

.corelation .recovered-population { grid-area: 5 / 2 / 6 / 3; }
.corelation .recovered-cases { grid-area: 5 / 3 / 6 / 4; }
.corelation .recovered-active { grid-area: 5 / 4 / 6 / 5; }
.corelation .recovered-recovered { grid-area: 5 / 5 / 6 / 6; }
.corelation .recovered-tests { grid-area: 5 / 6 / 6 / 7; }

.corelation .tests-population { grid-area: 6 / 2 / 7 / 3; }
.corelation .tests-cases { grid-area: 6 / 3 / 7 / 4; }
.corelation .tests-active { grid-area: 6 / 4 / 7 / 5; }
.corelation .tests-recovered { grid-area: 6 / 5 / 7 / 6; }
.corelation .tests-tests { grid-area: 6 / 6 / 7 / 7; }

.corelation .number-box {
    display: block;
    line-height: 100px;
    font-size: 24px;
}