.map .geocoder {
    float: right;
}

.map .navigation {
    position: absolute;
    top: 50px;
}

.map .mapboxgl-ctrl-geocoder {
    width: 100%;
    font-size: 20px;
}

.map .mapboxgl-ctrl-geocoder--suggestion {
    font-size: 15px;
}
